<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuhezhe.ragdocumentservice.mapper.DocumentMapper">

    <select id="queryDocument" resultType="com.chuhezhe.ragdocumentservice.entity.Document">
        SELECT * FROM documentChunks
        <where>
            <if test="queryDocDTO.fileHash != null">
                file_hash = #{queryDocDTO.fileHash}
            </if>
            <if test="queryDocDTO.fileName != null">
                AND file_name = #{queryDocDTO.fileName}
            </if>
            <if test="queryDocDTO.knowledgeBaseId != null">
                AND knowledge_base_id = #{queryDocDTO.knowledgeBaseId}
            </if>
        </where>
    </select>
</mapper>